.header_column_queue,
.header_column_dev,
.header_column_done {
    margin-top: 15px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
	padding: 0 15px;
	color: #fff;
}

.header_column_queue {
	background-color: #1a73e8;
}

.header_column_dev {
    background-color: #e81a9c;
}

.header_column_done {
    background-color: #13df2b;
}

.header_column_queue h2,
.header_column_dev h2,
.header_column_done h2 {
    font-size: 18px;
    padding: 5px 10px;
}
