.project_container {
    position: relative;
    width: 1034px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.522);
    margin-bottom: 10px;
    padding: 3px 20px;
}

.project_title {
    font-size: 24px;
    color: rgb(29, 14, 114);
}

.project_status_open {
    font-size: 15px;
    top: 38px;
    position: relative;
    color: green;
}

.project_status_closed {
    font-size: 15px;
    top: 38px;
    position: relative;
    color: red;
}

.project_status_progress {
    font-size: 15px;
    top: 38px;
    position: relative;
    color: blue;
}