.input_add {
    width: 315px;
    border-radius: 3px;
    padding: 3px 8px;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_add:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}