.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_registration {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    height: 250px;
    background-color: rgba(238, 237, 237, 0.345);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.522);
    margin-bottom: 10px;
    padding: 3px 20px;
}

.form_registration button {
    border-radius: 5px;
    width: 56%;
    font-size: 18px;
}

.form_input {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.form_input input {
    background-color: rgba(238, 237, 237, 0.345);
    border-radius: 5px;
    width: 55%;
    height: 18px;
}

.form_input input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.form_input input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.btn_back {
    color: #ffffff;
    font-size: 20px;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 12px 40px;
    transition: all 0.5s ease;
    border-radius: 57px;
    background: #0d3c79;
    text-decoration: none;
}

.btn_back:hover {
    color: #000;
    background-color: #88b4ed;
    transition: 0.5s;
}